form input{
    width:100%;
    padding:2%;
    margin: 2.5%;
}

.contenedor button{
    width:100%;
    margin: 2.5%;
    padding:2.5%;
    background-color: black;
    color: white;
}

.contenedor{
    margin: 5%;
}